<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lead Automation Suite" parallel="tests" thread-count="5">
	<listeners>
		<listener class-name="com.automation.BSRListner"></listener>
		<listener class-name="com.automation.WebDriverListener"></listener>
	</listeners>
	<test name="Lead Automation Test- Chrome" enabled="true">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.bsr.runner.Runner2" />
		</classes>
	</test>
</suite> 
