<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lead Automation Suite" parallel="tests" thread-count="5">
<parameter name="vehicleName" value="Ford"></parameter>
	<test name="Lead Automation Test- Chrome" enabled="true">
		<classes>
			<class name="com.automation.bsr.runner.Runner" />
		</classes>
	</test>
</suite> 
